<div class="container">
    <table class="table table-white">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Unit Price</th>
          <th scope="col">QuantityPerUnit</th>
          <th scope="col">UnitsInStock</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let cart of cartItem">
        <tr>
          <td>{{cart.name}}</td>
          <td>{{cart.unitPrice}}</td>
          <td>{{cart.quantityPerUnit}}</td>
          <td>{{cart.unitsInStock}}</td>
          <button (click)="onDeleteProductOnCart(cart.id)" type="button" class="btn btn-danger"> Delete </button>
        </tr>
    </tbody>
    
    </table>
    </div>